{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}CONNECT Bitkeeper Control Panel{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bitkeeper1/css/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bitkeeper1/css/normalize.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
        <h1>CONNECT Bitkeeper Control Panel</h1>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% block footercopy %}
      WPRDC: We do what we must because we can.
      {% endblock footercopy %}
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
