{% extends "bitkeeper1/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
         <div class="six columns">   
             <h3>Data overview</h3>
            <table class="u-full-width">
                <thead><th>Table name</th><th>Number of rows</th></thead>
                    {% for row in table_stats %}
                        <tr>
                            <td><a href="/admin/bitkeeper1/{{ row.table_name | lower }}/">{{ row.table_name }}</a></td>
                            <td>{{ row.row_count }}</td>
                        </tr>
                    {% endfor %}
            </table>
         </div>

        <div class="six columns">
            <ul>
                <li><a href="https://data.wprdc.org/dataset/connect-map">CONNECT dataset on wprdc.org</a>
                <li>Once the dataset is published a map can be created and linked to that dataset.
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="six columns">
            <h3>Push data to WPRDC site</h3>
            <ul>Update individual tables on the 
                {% autoescape off %}
                    <a href="https://data.wprdc.org/dataset/connect-map">dataset on wprdc.org</a>
                {% endautoescape %}
                by clicking the links below. (The CONNECT map will be built from these data tables.)
            {% for model in table_names %}
                <li><a href="/bitkeeper1/{{ model }}/push">Push {{ model }} data to WPRDC</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="six columns">
            <h3>Data download options</h3>
            <ul>Download data tables as CSV files.
            {% for model in table_names %}
                <li><a href="/bitkeeper1/{{ model }}/csv">Download {{ model }} data</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>N/A editor</h3>
        When the base data was initially imported into Bitkeeper, missing values (in partially filled columns) were given the value "N/A". In the table below, you can click the corresponding link to edit each of these missing values. <P>
        {% if len_of_nas == 0 %}
            <P>
            <div class="one column">
            </div>
            <div class="eleven columns">
                <b>No "N/A" values to edit. Everything looks good!</b><br>
            </div>
            <P><br>
        {% else %} 
        <table class="u-full-width">
            <thead><th>Model</th><th>Row that needs to be edited</th></thead>
            {% for na_row, na_model in nas %}
            <tr>
                <td>{{na_model}}</td> 
                <td><a href="/admin/bitkeeper1/{{ na_model | lower }}/{{ na_row.pk }}/change">{{ na_row }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        If there really is no value that goes in that field (like the "mayor" field of a municipality that has no mayor), delete "N/A" from that field and save the table row. (Doing this sets the value of that field to null/None).<br>
    </div>
    <br>
</div>
{% endblock content %}


{% block footercopy %}
Brought to you by the letters {% autoescape off %}<a href="https://www.wprdc.org">W, P, R, D, and C</a>{% endautoescape %}
{% endblock footercopy %}
